.autocomplete-selected {
  background: #f5f5f5;
  color: #262626;
}
.autocomplete-suggestion {
  cursor: pointer;
  overflow: hidden;
  padding: 3px 20px;
  white-space: nowrap;
}
.autocomplete-suggestions {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: auto;
  padding: 5px 0;
}
